* {
    box-sizing: border-box;
}


h2 {
    font-size: 30px;
}

/*title*/
h1 {
    text-align: center;
    background-color: cadetblue !important;
    margin-top: 0;
    margin-bottom: 50px;
}

#search,
#weather {
    margin-top: 5px;
}

/*containers*/
/*#search,
#weather,
#map,
#activities {
    background-color: white;
}*/

#search {
    float: left;
    padding: 15px;
    border: 2px solid black;
    width: 400px;
}

#weather {
    border: 2px solid black;
    float: right;
}

#map,
#activities {
    border: 2px solid black;
    clear: both;
    width: auto;
}



