/*title*/
h1 {
    text-align: center;
    background-color: cadetblue !important;
    margin-top: 0;
}

/*search container*/
#search {
    float: left;
    padding: 10px;
    border: 2px solid black;
    width: 400px;
}

#weather {
    border: 2px solid black;
    float: right;
}

#map {
    border: 2px solid black;
    clear: both;
}

#activities  {
    border: 2px solid black;
    clear: both;
    
}

